$primary-light: #1F3540;
$primary: #192A32;
$primary-dark: #11222A;
$x-color: #31C4BE;
$x-color-dark: rgb(48, 147, 144);
$o-color: #F2B237;
$o-color-dark: #af8538;
$tie-color : #A8BEC9;
$tie-color-dark : #6d7f88;
